nette:
  template:
    helpers:
      setting: @SettingHelper::setting

parameters:
  entities: [%appDir%/SettingModule/Entity]
  settings: [
    string: ['project_name', 'thumbnail_width', 'thumbnail_height', 'post_itemsPerPage', 'menu_newsreelCount', 'menu_tagsCount', 'theme_name']
  ]

services:
    - \Flame\CMS\SettingBundle\Model\SettingManager
    settingFacade:
      class: \Flame\CMS\SettingBundle\Model\SettingFacade
      setup:
        - setAvailableSetting(%settings%)

    SettingHelper: \Flame\CMS\SettingBundle\Templating\Helpers\SettingHelper

factories:
  settingControl:
    implement: \Flame\CMS\SettingBundle\Components\ISettingControlFactory

  settingForm:
    create: \Flame\CMS\SettingBundle\Components\Forms\SettingForm(%availableSettings%, %default%)
    implement: \Flame\CMS\SettingBundle\Components\Forms\ISettingFormFactory
    parameters: [array availableSettings, array default = []]